
body {
  background-color: black;
}

#machfourlogo {
    filter: drop-shadow(  10px -7px 15px #92094e); 
    padding: 0% 15%;
}

#outline {
    stroke: rgb(194, 0, 152);
    stroke-width: 0.3%;
    fill: rgb(255, 0, 200);  
}

#enclosedArea {
    stroke: none;
    fill: rgb(252, 210, 241);
}

.ui.modal>.header>span {
  -webkit-animation: blink 3s infinite alternate;
  animation: blink 3s infinite alternate;
}
.ui.modal>.header>.reverse {
  -webkit-animation: blink 2s infinite alternate-reverse;
  animation: blink 2s  infinite alternalternate-reverse;
}

.ui.modal  {
  display: none;
  background: #000000;
}

.ui.modal>.content  {
    background: #000000;
    color: #fff;
}

.ui.modal>.header {
  background: #000000;
  box-shadow: none;
  color: #fff;
  text-shadow: 0 1px 30px #FB1684, 0 0 12px #fff, 2px 5px 60px #990a52;
}

.ui.modal>.close {
  color: #fff;  
}

.ui.header {
  color: #fff;
}

  @-webkit-keyframes blink {
    30% {
      opacity: .85;
    }
    32% {
      opacity: .4;
    }
    33% {
      opacity: .85;
    }
    35% {
      opacity: .4;
    }
    36% {
      opacity: .85;
    }
  }
  @keyframes blink {
    30% {
      opacity: .85;
    }
    32% {
      opacity: .4;
    }
    33% {
      opacity: .85;
    }
    35% {
      opacity: .4;
    }
    36% {
      opacity: .85;
    }
  }

  